<div class="container">
  <div class="menu">
    <app-parking-form
      #parkingForm
      (emitValue)="getFormValues($event)"
    ></app-parking-form>
  </div>

  <!-- PARK A -->
  <div class="park-a">
    <div *ngFor="let park of parkingA">
      <div class="park-a" *ngIf="park.parkingSlot % 2 !== 0">
        <div
          class="park-wrap"
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          style="border-right: none"
          (click)="showDetails(park)"
        >
          <p class="light" style="text-align: center; margin: 0">
            {{
              park.parkingSize === 1
                ? "S Parking"
                : park.parkingSize === 2
                ? "M Parking"
                : "L Parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>

            <img
              *ngIf="park.status === 'unavailable'"
              class="car"
              src="../assets/yellow-car-removebg-preview.png"
              alt=""
            />
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3
    style="
      margin-bottom: 370px;
      /* text-orientation: upright; */
      writing-mode: vertical-rl;
      color: #f9f9f9;
      letter-spacing: 0.5rem;
    "
  >
    ENTRY &nbsp;<b>A > > ></b>
  </h3>
  <div class="park-a">
    <div *ngFor="let park of parkingA">
      <div class="park-a" *ngIf="park.parkingSlot % 2 == 0">
        <div
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          class="park-wrap"
          style="border-left: none"
          (click)="showDetails(park)"
        >
          <p class="light" style="text-align: center; margin: 0">
            {{
              park.parkingSize === 1
                ? "S Parking"
                : park.parkingSize === 2
                ? "M Parking"
                : "L Parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
            <img
              *ngIf="park.status === 'unavailable'"
              class="car"
              src="../assets/yellow-car-removebg-preview.png"
              alt=""
            />
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- PARK B -->
  <div class="park-a">
    <div *ngFor="let park of parkingB">
      <div class="park-a" *ngIf="park.parkingSlot % 2 !== 0">
        <div
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          (click)="showDetails(park)"
          style="border-right: none"
          class="park-wrap"
        >
          <p class="light" style="text-align: center; margin: 0">
            {{
              park.parkingSize === 1
                ? "S Parking"
                : park.parkingSize === 2
                ? "M Parking"
                : "L Parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
            <img
              *ngIf="park.status === 'unavailable'"
              class="car"
              src="../assets/yellow-car-removebg-preview.png"
              alt=""
            />
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3
    style="
      margin-bottom: 370px;
      /* text-orientation: upright; */
      writing-mode: vertical-rl;
      color: #f9f9f9;
      letter-spacing: 0.5rem;
    "
  >
    ENTRY &nbsp;<b>B > > ></b>
  </h3>
  <div class="park-a">
    <div *ngFor="let park of parkingB">
      <div class="park-a" *ngIf="park.parkingSlot % 2 === 0">
        <div
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          (click)="showDetails(park)"
          style="border-left: none"
          class="park-wrap"
        >
          <p class="light" style="text-align: center; margin: 0">
            {{
              park.parkingSize === 1
                ? "S Parking"
                : park.parkingSize === 2
                ? "M Parking"
                : "L Parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
            <img
              *ngIf="park.status === 'unavailable'"
              class="car"
              src="../assets/yellow-car-removebg-preview.png"
              alt=""
            />
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- PARK C -->
  <div class="park-a">
    <div *ngFor="let park of parkingC">
      <div class="park-a" *ngIf="park.parkingSlot % 2 !== 0">
        <div
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          (click)="showDetails(park)"
          style="border-right: none"
          class="park-wrap"
        >
          <p class="light" style="text-align: center; margin: 0">
            {{
              park.parkingSize === 1
                ? "S Parking"
                : park.parkingSize === 2
                ? "M Parking"
                : "L Parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
            <img
              *ngIf="park.status === 'unavailable'"
              class="car"
              src="../assets/yellow-car-removebg-preview.png"
              alt=""
            />
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3
    style="
      margin-bottom: 370px;
      /* text-orientation: upright; */
      writing-mode: vertical-rl;
      color: #f9f9f9;
      letter-spacing: 0.5rem;
    "
  >
    ENTRY &nbsp;<b>C > > ></b>
  </h3>
  <div class="park-a">
    <div *ngFor="let park of parkingC">
      <div
        class="park-a"
        [class]="park.status === 'unavailable' ? 'red' : 'green'"
        (click)="showDetails(park)"
        *ngIf="park.parkingSlot % 2 === 0"
      >
        <div style="border-left: none" class="park-wrap">
          <p class="light" style="text-align: center; margin: 0">
            {{
              park.parkingSize === 1
                ? "S Parking"
                : park.parkingSize === 2
                ? "M Parking"
                : "L Parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
            <img
              *ngIf="park.status === 'unavailable'"
              class="car"
              src="../assets/yellow-car-removebg-preview.png"
              alt=""
            />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
