.park-a {
  display: flex;
  flex-direction: column;
  .park-wrap {
    width: 140px;
    height: 60px;
    border: 1px solid #777777;
  }
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-cl-a {
  background-color: #a8d5e5;
}
.medium-cl-a {
  background-color: #66b6d2;
}
.large-cl-a {
  background-color: #2596be;
}
.medium-cl-a {
  background-color: #25be45;
}
.medium-cl-b {
  background-color: #1a8530;
}
.medium-cl-c {
  background-color: #0f4c1c;
}

.full-width {
  width: 100%;
}

.red {
  background-color: rgb(220, 39, 39);
  &:hover {
    background-color: rgb(183, 82, 82);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
  }
}
.dark {
  color: #565656;
}
.light {
  color: #f9f9f9;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.park-container {
  height: auto;
  width: 20vw;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  h3 {
    text-align: center;
    margin-top: 0rem;
    color: #565656;
  }
  //   button {
  //     margin-top: 1rem;
  //     outline: none;
  //     border: none;
  //     background-color: #66b6d2;
  //     color: #fff;
  //     width: 100%;
  //     border-radius: 3px;
  //     height: 2rem;
  //     &:hover {
  //       cursor: pointer;
  //       background-color: #2596be;
  //     }
  //   }
}
