<div class="container">
  <div class="menu">
    <div class="park-container">
      <h3>Park Vehicle</h3>
      <form [formGroup]="vehicleDetails">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Plate Number</mat-label>
          <input matInput formControlName="plateNumber" />
          <mat-error
            *ngIf="vehicleDetails.get('plateNumber')?.hasError('required')"
          >
            Plate Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" />
          <mat-error *ngIf="vehicleDetails.get('brand')?.hasError('required')">
            Brand is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Entry Point</mat-label>
          <mat-select formControlName="entryPoint">
            <mat-option *ngFor="let entry of entryPoint" [value]="entry">
              {{ entry }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Vehicle Size</mat-label>
          <mat-select formControlName="vehicleSize">
            <mat-option *ngFor="let size of vehicleSize" [value]="size">
              {{ size }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button
        class="full-width"
        mat-flat-button
        color="primary"
        [disabled]="vehicleDetails.invalid"
        (click)="openParking()"
      >
        Park
      </button>
    </div>
  </div>

  <!-- PARK A -->
  <div class="park-a">
    <div *ngFor="let park of parkingA">
      <div class="park-a" *ngIf="park.parkingSlot % 2 !== 0">
        <div
          class="park-wrap"
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          style="border-right: none"
          (click)="showDetails(park)"
        >
          <p
            [class]="park.status === 'unavailable' ? 'light' : 'dark'"
            style="text-align: center; margin: 0"
          >
            {{
              park.parkingSize === 1
                ? "small parking"
                : park.parkingSize === 2
                ? "medium parking"
                : "large parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3
    style="
      margin-bottom: 400px;
      /* text-orientation: upright; */
      writing-mode: vertical-rl;
      color: #565656;
    "
  >
    ENTRY &nbsp;<b>A > > ></b>
  </h3>
  <div class="park-a">
    <div *ngFor="let park of parkingA">
      <div class="park-a" *ngIf="park.parkingSlot % 2 == 0">
        <div
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          class="park-wrap"
          style="border-left: none"
          (click)="showDetails(park)"
        >
          <p
            [class]="park.status === 'unavailable' ? 'light' : 'dark'"
            style="text-align: center; margin: 0"
          >
            {{
              park.parkingSize === 1
                ? "small parking"
                : park.parkingSize === 2
                ? "medium parking"
                : "large parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- PARK B -->
  <div class="park-a">
    <div *ngFor="let park of parkingB">
      <div class="park-a" *ngIf="park.parkingSlot % 2 !== 0">
        <div
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          (click)="showDetails(park)"
          style="border-right: none"
          class="park-wrap"
        >
          <p
            [class]="park.status === 'unavailable' ? 'light' : 'dark'"
            style="text-align: center; margin: 0"
          >
            {{
              park.parkingSize === 1
                ? "small parking"
                : park.parkingSize === 2
                ? "medium parking"
                : "large parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3
    style="
      margin-bottom: 400px;
      /* text-orientation: upright; */
      writing-mode: vertical-rl;
      color: #565656;
    "
  >
    ENTRY &nbsp;<b>B > > ></b>
  </h3>
  <div class="park-a">
    <div *ngFor="let park of parkingB">
      <div class="park-a" *ngIf="park.parkingSlot % 2 === 0">
        <div
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          (click)="showDetails(park)"
          style="border-left: none"
          class="park-wrap"
        >
          <p
            [class]="park.status === 'unavailable' ? 'light' : 'dark'"
            style="text-align: center; margin: 0"
          >
            {{
              park.parkingSize === 1
                ? "small parking"
                : park.parkingSize === 2
                ? "medium parking"
                : "large parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- PARK C -->
  <div class="park-a">
    <div *ngFor="let park of parkingC">
      <div class="park-a" *ngIf="park.parkingSlot % 2 !== 0">
        <div
          [class]="park.status === 'unavailable' ? 'red' : 'green'"
          (click)="showDetails(park)"
          style="border-right: none"
          class="park-wrap"
        >
          <p
            [class]="park.status === 'unavailable' ? 'light' : 'dark'"
            style="text-align: center; margin: 0"
          >
            {{
              park.parkingSize === 1
                ? "small parking"
                : park.parkingSize === 2
                ? "medium parking"
                : "large parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3
    style="
      margin-bottom: 400px;
      /* text-orientation: upright; */
      writing-mode: vertical-rl;
      color: #565656;
    "
  >
    ENTRY &nbsp;<b>C > > ></b>
  </h3>
  <div class="park-a">
    <div *ngFor="let park of parkingC">
      <div
        class="park-a"
        [class]="park.status === 'unavailable' ? 'red' : 'green'"
        (click)="showDetails(park)"
        *ngIf="park.parkingSlot % 2 === 0"
      >
        <div style="border-left: none" class="park-wrap">
          <p
            [class]="park.status === 'unavailable' ? 'light' : 'dark'"
            style="text-align: center; margin: 0"
          >
            {{
              park.parkingSize === 1
                ? "small parking"
                : park.parkingSize === 2
                ? "medium parking"
                : "large parking"
            }}
            - <b>{{ park.entryPoint }}{{ park.parkingSlot }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
